<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperação de Senha</title>
</head>
<body>
  <h1>Confirme seus dados</h1>
  <form action="/password/employee/forgot" method="post">
    <section>
      <label for="cpf">CPF</label>
      <br>
      <input id="cpf" name="cpf" type="text" autocomplete="cpf" required>
    </section>
    <br>
    <section>
      <label for="email">E-mail</label>
        <br>
        <input id="email" name="email" type="email" autocomplete="email" required autofocus>
    </section>
    <br>
    <button type="submit">Confirm</button>
</form>
</body>
</html>