<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Atualização de Senha</title>
</head>
<body>
  <h1>Confirme seus dados</h1>
  <form action="/password/customer/change/:id" method="post">
    <section>
      <label for="current-password">Nova Senha</label>
      <br>
      <input id="current-password" name="newPassword" type="password" autocomplete="current-password" required>
    </section>
    <br>
    <section>
      <label for="current-password">Confirme Nova Senha</label>
        <br>
        <input id="current-password" name="confirmNewPassword" type="password" autocomplete="current-password" required autofocus>
    </section>
    <br>
    <button type="submit">Confirm</button>
</form>
</body>
</html>